/* Reset margins and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.return-button {
  width: 100%;
  max-width: 50px;
  height: auto;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* Center the content on the page */
.top-center {
  text-align: center;
  margin: 20px auto;
  max-width: 1200px;
}

/* Header styling */
h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

/* Banner styling */
.banner img {
  width: 100%;
  max-width: 1000px; /* Adjust banner width */
  height: auto;
  margin-bottom: 30px;
  border-radius: 10px; /* Optional: rounded corners */
}

/* Grid container for images */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 30px;
  max-width: 1000px;
  margin: 0 auto 50px;
}

/* Individual grid items */
.grid-item {
  text-align: center;
}

.grid-item img {
  width: 80%;
  max-width: 300px;
  height: auto;
  margin-bottom: 10px;
  object-fit: cover;
  border-radius: 10px; /* Optional: rounded corners */
}

.grid-item img:hover {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.grid-item p {
  font-size: 1.2em;
  margin-top: 5px;
}

/* Video container */
.video-container {
  max-width: 1000px;
  margin: 0 auto;
}

video {
  width: 100%;
  border-radius: 10px; /* Optional: rounded corners */
}
